---
- name: "Install zip package"
  become: "yes"
  package:
    name: "zip"
    state: "present"

- name: "Check if JndiLookup.class has been removed"
  become: "yes"
  shell:
    cmd: "unzip -l log4j-core-*.jar | grep JndiLookup.class"
    chdir: "/usr/share/elasticsearch/lib"
  register: "__jndulookup_class"
  failed_when: "__jndulookup_class.rc not in [ 0, 1 ]"

- name: "Remove JndiLookup.class"
  become: "yes"
  shell:
    cmd: "zip -q -d log4j-core-*.jar org/apache/logging/log4j/core/lookup/JndiLookup.class"
    chdir: "/usr/share/elasticsearch/lib"
  when:
    - "__jndulookup_class.rc == 0"
  notify: "Restart Elasticsearch"
