---
# Elasticsearch debian install
# Update repos
- name: Install python-software-properties
  apt:
    pkg: "python-software-properties"
    state: "present"
    update_cache: "yes"
    cache_valid_time: "{{apt_cache_valid_time}}"
  when:
    - ansible_distribution_release != "bionic"

- name: Update repositories
  apt_repository:
    repo: "{{ item }}"
    state: "present"
    update_cache: "yes"
  with_items: "{{ elasticsearch_apt_repos }}"

# Install Java
- name: Install dependencies
  apt:
    pkg: "{{elasticsearch_apt_java_package}}"
    state: "present"
  when: elasticsearch_install_java

# Install dependencies
- name: Install dependencies
  apt:
    pkg: "{{ item }}"
    state: "present"
  with_items: "{{ elasticsearch_apt_dependencies }}"

# Configure user and group
- name: Configuring user and group
  group:
    name: "{{ elasticsearch_group }}"
- user:
    name: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    createhome: "no"

# Check whether we have aleady installed the same version
- shell: if [ -e /usr/share/elasticsearch/lib/elasticsearch-{{ elasticsearch_version }}.jar ]; then echo yes; else echo no; fi;
  register: version_exists
  always_run: True

# Download deb if needed
- name: Download Elasticsearch deb
  get_url: url={{ elasticsearch_download_url }}/elasticsearch-{{ elasticsearch_version }}.deb dest=/tmp/elasticsearch-{{ elasticsearch_version }}.deb mode=0440
  when: version_exists.stdout == 'no'

# Uninstall previous version if applicable
- name: Uninstalling previous version if applicable
  shell: dpkg --remove elasticsearch
  when: version_exists.stdout == 'no'
- file:
    path: "/usr/share/elasticsearch"
    state: "absent"
  when: version_exists.stdout == 'no'

# Install the deb
- name: Install Elasticsearch deb
  shell: dpkg -i -E --force-confnew /tmp/elasticsearch-{{ elasticsearch_version }}.deb
  when: version_exists.stdout == 'no'
- file: path=/usr/share/elasticsearch state=directory owner={{ elasticsearch_user }} group={{ elasticsearch_group }} recurse=yes
