---
# Elasticsearch CentOS/RedHat/Rocky install

# Get elasticsearch version when elasticsearch is already installed
- name: Get installed elasticsearch version
  shell: rpm -qa --queryformat '%{version}' elasticsearch
  args:
    warn: false
  failed_when: false
  changed_when: false
  check_mode: false
  register: installed_elasticsearch_version

- name: Abort when elasticsearch installed version < 1.8 and version >=5 is going to be installed
  fail:
    msg: "Please uninstall elasticsearch {{ installed_elasticsearch_version.stdout }} before upgrading to {{ elasticsearch_version }} version"
  when:
    - installed_elasticsearch_version.stdout|trim != ""
    - installed_elasticsearch_version.stdout is version_compare('1.8', '<')
    - elasticsearch_version is version_compare('5.0', '>=')

- name: "Configure repositories"
  block:
    - name: "Install epel repo"
      yum:
        name: "epel-release"
        state: "installed"

    - name: "Enable epel repo"
      ini_file:
        path: /etc/yum.repos.d/epel.repo
        section: epel
        option: enabled
        value: 1

    - name: "Add elasticsearch 1.7.x repo"
      yum_repository:
        name: "elasticsearch-1.7"
        description: "Elasticsearch repository for 1.7.x packages"
        file: elasticsearch_repo
        gpgkey: "http://packages.elastic.co/GPG-KEY-elasticsearch"
        gpgcheck: yes
        baseurl: "http://packages.elastic.co/elasticsearch/1.7/centos"
      when: elasticsearch_version is version_compare('5.0', '<')

    - name: "Add elasticsearch 5.x repo"
      yum_repository:
        name: "elasticsearch-5.x"
        description: "Elasticsearch repository for 5.x packages"
        file: elasticsearch_repo
        gpgkey: "https://artifacts.elastic.co/GPG-KEY-elasticsearch"
        gpgcheck: yes
        baseurl: "https://artifacts.elastic.co/packages/5.x/yum"
      when: elasticsearch_version is version_compare('5.0', '>=') and elasticsearch_version is version_compare('6.0', '<')

    - name: "Add elasticsearch 6.x repo"
      yum_repository:
        name: "elasticsearch-6.x"
        description: "Elasticsearch repository for 6.x packages"
        file: elasticsearch_repo
        gpgkey: "https://artifacts.elastic.co/GPG-KEY-elasticsearch"
        gpgcheck: yes
        baseurl: "https://artifacts.elastic.co/packages/6.x/yum"
      when: elasticsearch_version is version_compare('6.0', '>=')
  when:
    - install_rpm_repositories|bool
    - not elasticsearch_yum_no_repo|bool

# The ES repos must be removed from repolist because it doesn't allow to 
# install any package (from any repo) when the repo is returning 403 error
- name: "Remove Elasticsearch RPM repos when downloading ES package directly"
  yum_repository:
    name: "{{ item }}"
    state: absent
  loop:
    - "elasticsearch-6.x"
    - "elasticsearch-5.x"
  when:
    - elasticsearch_yum_no_repo|bool

- name: "Install java package"
  yum:
    name:
      - "{{elasticsearch_yum_java_package}}"
      - "initscripts"     # Needed for SysV compatibility
    state: "installed"
    update_cache: true
  when: elasticsearch_install_java|bool

- name: "Install deps"
  yum:
    name:
      - "initscripts"     # Needed for SysV compatibility
    state: "installed"
    update_cache: true

- name: "Install Elasticsearch package from repo"
  yum:
    name:
      - "elasticsearch-{{ elasticsearch_version }}"
    state: "installed"
    update_cache: true
  when:
    - not elasticsearch_yum_no_repo|bool

- name: "Install Elasticsearch package from URL"
  yum:
    name:
      - "{{ elasticsearch_download_url }}/elasticsearch-{{ elasticsearch_version }}.rpm"
    state: "installed"
    update_cache: true
  when:
    - elasticsearch_yum_no_repo|bool
